<!DOCTYPE html>
<html>
<head>
    <title>Diario - Chevismo.com</title>
    {{ partial "css" . }}

    {{ $style := resources.Get "sass/diario.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>

    <header class="header">
        <div class="container">
            <a href="/diario">
                <h1>Diario Colaborativo</h1>
            </a>
        </div>
    </header>
    
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-8">

        