<!DOCTYPE html>
<html>
<head>
    <title>Diario - Chevismo.com</title>
    {{ partial "css" . }}

    {{ $style := resources.Get "sass/diario.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>

    <header class="header shadow-sm">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{ .Site.BaseURL }}/diario">
                        <h1>Diario Colaborativo</h1>
                    </a>
                </div>
                <div class="col text-right">
                    <a href="{{ .Site.BaseURL }}" class="text-muted">Chevismo</a>
                </div>
            </div>
            
        </div>
    </header>
    
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

        