<div class="notice shadow">
    <p>
        <b>Hola lector!</b> Chevismo cerró &dash; como habrás observado ya. 
        Rescaté el diario porque siempre le tuve mucho cariño. En el proceso de rescatarlo me enamoré un poco otra vez de él...
    </p>
    <p>
        En algún momento añadiré de nuevo la capacidad de escribir nuevas entradas y comentarios. Gracias por pasarte por aquí.
    </p>
    <p>
        También quiero hacer una especie de "libro" con las entradas más emotivas y algunos comentarios. Poco a poco!
    </p>
</div>