html, body {
    background: #f8f8f8 url('./assets/bg.gif') top repeat-x;
    padding: 0 1em;
}

h1 {
    margin-bottom: 2em;
    text-align: center;
}

article {
    padding: 0 1em;
    width: 800px;
    margin: 0 auto;
    font-size: 1.3em;
}