{{ partial "diario/header" . }}

<h1>{{ .Title }}</h1>
<small>{{ .Description }}</small>
<div class="content">
    {{ .Content }}
</div>

<div class="mt-4 text-center">
  {{ with .NextInSection }}
    <a href="{{ .Permalink }}">&laquo; Siguiente </a>
  {{ end }}
  &bull; 
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}">Anterior &raquo;</a>
  {{ end }}
</div>

<h3 class="divider">{{ .Params.comments }} Comentarios</h3>

{{ range $comment := .Params.commentList }}
    {{ $class := "" }}
    {{ if eq $comment.ident "0" }}
       {{ $class = "anon" }}
    {{ end }}
    {{ if eq $comment.ident "2" }}
       {{ $class = "op" }}
    {{ end }}
    <h4 class="{{ $class }}">{{ $comment.date }}</h4>
    <div>{{ markdownify $comment.comment }}</div>

    <hr />
{{ end }}

{{ partial "diario/footer" . }}
