<!DOCTYPE html>
<html>
<head>
    <title>Chevismo.com</title>
    
    {{ partial "css" . }}

    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>

<h1><img class="img-fluid" src="./assets/logo.gif" alt="Chevismo.com"></h1>

<article class="container">
    <p>Hola!</p>
    <p>Si estás leyendo esto, desgraciadamente quiere decir que Chevismo.com ya no está online...</p>
    <p>Seguramente seas uno de los usuarios "de siempre", ¿Qué época verdad? Hace unos 10 años casi!</p>
    <p>Sigo pensando en cada una de las personas que conocí aquí hace años de vez en cuando, cada una me cambió un poco a su manera y siempre me hace sentir una cierta nostalgia su recuerdo... Ojala hubiésemos hecho una quedada de aquella!</p>
    <p></p>
    <p>Si quieres seguir en contacto envíame un mensaje! No es demasiado dificil encontrar la manera si de verdad quieres.</p>
    <!-- Supongo que tenia que poner esto aqui, por los viejos tiempos jaja, esta pagina esta alojada en https://github.com/chevismo/chevismo.com - ahi deberias encontrar maneras de ponerte en contacto -->
    <p></p>
    <p>Hay algunas secciones de Chevismo a las que tenía especial cariño, por ejemplo el diario :)</p>
    <p>Toda la información de Chevismo está guardada, asi que poco a poco iré añadiendo secciones para que se puedan al menos ver!</p>
    <ul>
        <li><a href="/diario">Diario</a></li>
    </ul>
    <p></p>
    <p>Si te gustaría ayudar o tienes ideas que quieres probar ponte en contacto también!</p>
    <p></p>
    <p></p>
    <p>Un saludo,<br>Chevi</p>
</article>

<!-- Esta vez no hay secretos esperando aqui... Pero bueno igual en algun momento vuelve a haberlos! -->

</body>
</html>
